$image-path: "images/";
/* Pattern Lab Base theme variables */
@import "~@comicrelief/pattern-lab/sass/base/core";
@import "~@comicrelief/pattern-lab/sass/base/variables/grid";
@import "~@comicrelief/pattern-lab/sass/base/variables/colours";
/* Pattern Lab Comic Relief theme variables */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/mixins";
/* Pattern Lab Base theme components */
@import "~@comicrelief/pattern-lab/sass/base/components/promo-header/promo-header";
/* Pattern Lab Comic Relief theme components */

.promo-header {

  &.promo-header--small {
    background: url($image-path + "thankyou-header.jpg") top center/100% no-repeat;
    min-height: 130px;
  
    @include breakpoint($screen-md) {
      min-height: 300px;
    }

    @include breakpoint($screen-lg) {
      min-height: 400px;
    }
  }
}
