/* Pattern Lab Base theme variables */
@import "~@comicrelief/pattern-lab/sass/base/core";
@import "~@comicrelief/pattern-lab/sass/base/variables/grid";
@import "~@comicrelief/pattern-lab/sass/base/variables/colours";
@import "~@comicrelief/pattern-lab/sass/base/variables/lists";
@import "~@comicrelief/pattern-lab/sass/base/variables/typography";
/* Pattern Lab Comic Relief theme variables */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/colours";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/typography";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/mixins";


.container {
  @include container;

  .container--inner {
    margin: 40px auto;
    width: span(11);
    text-align: center;

    @include breakpoint($screen-md) {
      width: span(8);
      padding: 20px 30px;
    }

    h1{ 
      margin-bottom: 35px;
    }

    h2 {
      font-family:$font-bold;
    }

    .message-support-title {
      @include font-size($p-xlarge-font-size);
      font-family:$font-bold;
    }
  }
}