/* Pattern Lab Base theme variables */
$image-path: "/images/";
@import "../../node_modules/@comicrelief/storybook/src/sass/base/variables";
@import "../../node_modules/@comicrelief/storybook/src/sass/base/core";

/* Pattern Lab Comic Relief theme variables */
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/cr/2017/variables/typography";
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/cr/2017/variables/colours";
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/cr/2017/variables/mixins";

/* Pattern Lab Base theme components */
@import "../../node_modules/@comicrelief/storybook/src/sass/base/components/links/links";
@import "../../node_modules/@comicrelief/storybook/src/sass/base/components/card-block/card";
@import "../../node_modules/@comicrelief/storybook/src/sass/base/components/cards/cards";
@import "../../node_modules/@comicrelief/storybook/src/sass/base/components/header/base-header";
@import "../../node_modules/@comicrelief/storybook/src/sass/base/components/promo-header/promo-header";
@import "../../node_modules/@comicrelief/storybook/src/sass/base/components/typography/typography";

/* Pattern Lab Comic Relief theme components */
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/cr/2017/components/typography/fonts";
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/cr/2017/components/typography/typography";
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/cr/2017/components/links/links";
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/cr/2017/components/buttons/buttons";

@import "../../node_modules/@comicrelief/storybook/src/sass/base/components/form/standard-form";
@import "../../node_modules/@comicrelief/storybook/src/sass/base/components/postcode-lookup/postcode-lookup";

@import "../../node_modules/@comicrelief/storybook/src/sass/themes/donate/variables/colours";
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/donate/components/cards/cards";
@import "../../node_modules/@comicrelief/storybook/src/sass/themes/donate/components/header/header";

/* Specific styles for giftaid app */
@import "PromoHeader";
@import "Logo";
@import "Success";
@import "Sorry";
@import "SubmitForm";
@import "UpdateForm";

footer[role=contentinfo] {
  background: #29022c!important;

  .footer__copyright {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;

    p {
      line-height: 18px;
    }
  }
}

.tooltip-wrapper {
  position: relative;

  .tooltip-copy {
    display: none;
    position:absolute;
    left: 50px;
    bottom: 50%;
    transform: translateY(50%);
    background: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
  }

  .tooltip-icon {
    position: absolute;
    bottom: 65px;
    right: 0;
    width: 30px;
    height: 30px;
    background: red;
    text-align: center;
    z-index: 1;
    font-size:25px;

    &:hover,
    &:active,
    &:focus {
      .tooltip-copy {
        display: block;
      }
    }
  }
}