$image-path: "images/";
/* Pattern Lab Base theme variables */
@import "~@comicrelief/pattern-lab/sass/base/core";
@import "~@comicrelief/pattern-lab/sass/base/variables/grid";
@import "~@comicrelief/pattern-lab/sass/base/variables/colours";
@import "~@comicrelief/pattern-lab/sass/base/variables/typography";
/* Pattern Lab Comic Relief theme variables */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/colours";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/typography";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/mixins";
/* Pattern Lab Base theme components */
@import "~@comicrelief/pattern-lab/sass/base/components/card-block/card";
@import "~@comicrelief/pattern-lab/sass/base/components/cards/cards";
/* Pattern Lab Comic Relief theme components */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/fonts";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/typography";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/components/links/links";

@import "~@comicrelief/pattern-lab/sass/themes/donate/donate-cr/components/cards/cards";

.cards {
 .cards__wrapper {
  .cards__item {
    width: 100%;
      @include breakpoint($screen-md) {
        width: 30%;
      }
    }
  }
}

.cards__image {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;

   &.cards__item--kevin-story {
    background-image: url($image-path + "kevin-card.jpg");
   }
   &.cards__item--aziza-story{
    background-image: url($image-path + "aziza-card.jpg");
   }
   &.cards__item--georgia-story{
    background-image: url($image-path + "georgia-card.jpg");
   }
}