/* Pattern Lab Base theme variables */
@import "~@comicrelief/pattern-lab/sass/base/core";
@import "~@comicrelief/pattern-lab/sass/base/variables/grid";
@import "~@comicrelief/pattern-lab/sass/base/variables/colours";
@import "~@comicrelief/pattern-lab/sass/base/variables/lists";
@import "~@comicrelief/pattern-lab/sass/base/variables/typography";
/* Pattern Lab Comic Relief theme variables */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/colours";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/typography";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/variables/mixins";
/* Pattern Lab Base theme components */
@import "~@comicrelief/pattern-lab/sass/base/components/typography/typography";
/* Pattern Lab Comic Relief theme components */
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/fonts";
@import "~@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/typography";

.success-wrapper {
    @include container;
    
    .success-wrapper--inner {
        position: relative;
        width: span(11);
        margin: -20px auto 0;
        padding: 20px 0;
        background: $colour-white;
        text-align: center;

        @include breakpoint($screen-md) {
            width: span(8);
            padding: 20px 30px;
        }

        @include breakpoint($screen-lg) {
            margin: -40px auto 0;
        }
    }

    .btn {
        display: block;
        margin: 20px;

        @include breakpoint($screen-md) {
            margin: 20px auto;
            width: span(8);
        }
    }
}