.header__inner-wrapper {
  padding: 16px;
  cursor: default;
  .logo {
    float: left;
    display: block;

    img {
      height: 60px;
    }
  }
  
  @include breakpoint($desktop-nav-breakpoint) {
    justify-content: center;
  }
}
