/* Pattern Lab Base theme variables */
@import "../node_modules/@comicrelief/pattern-lab/sass/base/core";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/grid";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/lists";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/variables/typography";
/* Pattern Lab Comic Relief theme variables */
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/typography";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/variables/mixins";
/* Pattern Lab Base theme components */
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/typography/typography";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/buttons/buttons";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/header/base-header";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/promo-header/promo-header";
@import "../node_modules/@comicrelief/pattern-lab/sass/base/components/footer/footer";
/* Pattern Lab Comic Relief theme components */
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/fonts";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/typography/typography";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/background-colours/background-colours";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/buttons/buttons";
@import "../node_modules/@comicrelief/pattern-lab/sass/themes/cr/2017/components/links/links";

.header__inner-wrapper {
  padding: 16px;
  cursor: default;
  .logo {
    float: left;
    display: block;

    img {
      height: 50px;
    }
  }
  .cr-logo {
    margin-right: 16px;
  }
  .campaign-logo {
    float: right;
  }
  @include breakpoint($screen-md) {
    .campaign-logo {
      float: left;
    }
  }
  @include breakpoint($desktop-nav-breakpoint) {
    justify-content: flex-start;
  }
}
.promo-header {
  h1 {
    height: 125px;
    background: transparent url('./images/giftaid.png') center/contain no-repeat;
    @include breakpoint($screen-md) {
      height: 200px;
    }
  }
  h2, p:first-of-type {
    font-size: 20px;
    line-height: 26px;
    @include breakpoint($screen-md) {
      @include font-size($h3-font-size);
    }
  }
  .promo-header__content-inner {
    @include breakpoint($screen-md-max) {
      width: span(10);
    }
  }
}
.mobile-line-break {
  display: block;
  @include breakpoint($screen-md) {
    display: none;
  }
}
